/* main body */
body{
  background-color: silver;
}

/* Nav bar styling */
.nav{
  font-size: large;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  color: silver;
}

.nav a{
  color: rgb(8, 177, 255);
  text-align: center;
  padding: 14px 0px 0px 0px;
  text-decoration-line: underline;
  margin-left: 20px;
}

.nav a:hover{
  color: rgb(44, 83, 183);
}

/* Side bar */
.carlist{
  background-color: #1d65ff;
  max-width: 250px;
  margin-top: 0px;
  padding-left: 2rem;
  position: absolute;
  width: 100%;
  clear: both;
  height: 100vh;
}

/* Base image */
img{
  max-width: 200px;
  box-shadow: 10px 10px 5px rgb(1, 1, 1);
  margin-bottom: 40px;
  border-radius: 20px;
}

.carlist a{
  color: red
}


/* div container for show */
.showcard{
  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 250px;
  margin-top: 6rem;
}

.intro img{
      max-width: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
}